/* Global */
:root {
  /* Web Colors */
  --color-primary: var(--color-black);
  --color-secondary: var(--color-gray);
  --color-secondary-light: var(--color-lightgray);
  --color-secondary-dark: var(--color-darkgray);

  /* Colors */
  --color-black: #0d0c22;
  --color-gray: #ebebeb;
  --color-lightgray: #fafafa;
  --color-darkgray: #adadad;
  --color-white: #fcfcfc;

  /* Size */
  --size-max-width: 1200px;
  --email-max-width: 98%;

  /* Web Font */
  --font-korean: var(--font-NotoSansKR);
  --font-english: var(--font-Roboto);

  /* Font */
  --font-NotoSansKR: 'Noto Sans KR', sans-serif;
  --font-Roboto: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-korean);
  color: var(--color-primary);
  letter-spacing: -1px;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  display: none;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

textarea {
  width: 100%;
  height: 280px;
  border: 0;
  margin-top: 1rem;
  padding: 10px;
  background-color: transparent;
  resize: none;
}

input::file-selector-button {
  display: none;
}

/* Common */
.section {
  width: 100%;
  padding: 8rem 0;
  text-align: center;
}

.innerBox {
  padding: 4rem 0;
}

nav {
  font-family: var(--font-english);
  font-size: 1.2rem;
  font-weight: 500;
}

.title {
  margin: 2.8rem 0;
  font-size: 1.6rem;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

label {
  font-size: 1rem;
  font-family: var(--font-english);
}

.email__inner {
  padding: 0.8rem;
}

/* Header */
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 72px;
  background-color: transparent;
  transition: background-color 400ms;
}

.header--bg {
  background-color: var(--color-secondary-light);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.header__logo {
  font-family: 'Satisfy', cursive;
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--color-primary);
}

.header__menu {
  display: flex;
  gap: 8px;
}

.header__menu__item {
  padding: 8px 16px;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-secondary-light);
  filter: brightness(0.9);
}

.mobile__menu {
  display: none;
}

.active {
  padding: 6px 8px;
  outline: 1px solid var(--color-secondary-light);
  filter: brightness(0.9);
  border-radius: 4px;
}
/* Aside */
.arrow-up {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  color: var(--color-primary);
  opacity: 0;
  transition: opacity 300ms;
}

/* Home */
#home {
  margin-top: 100px;
  margin-bottom: 10px;
}

.profile {
  width: 300px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home__title {
  font-size: 2rem;
}

.home__contact {
  display: inline-block;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--color-secondary-dark);
  position: relative;
  overflow: hidden;
  transition: color 300ms;
}

.home__contact::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -100%;
  border-radius: 4px;
  background-color: var(--color-secondary-light);
  filter: brightness(0.9);
  transition: transform 300ms;
}

.home__contact:hover {
  color: white;
}

.home__contact:hover::before {
  transform: translateY(100%);
}

/* About */
#about {
  margin-top: 180px;
}

.about__description {
  padding-bottom: 38px;
  font-size: 1.2rem;
}

.about__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
  width: 100%;
}

.icon__github {
  width: 44px;
  height: 44px;
  filter: contrast(30%);
  transition: filter 300ms;
}

.icon__github:hover {
  filter: contrast(100%);
}

.icon__tistory {
  width: 60px;
  height: 60px;
  filter: grayscale(1);
  transition: filter 300ms;
}

.icon__tistory:hover {
  filter: grayscale(0);
}

/* Skills */
#skills {
  margin-top: 30px;
}

.skills__container {
  display: flex;
  gap: 36px;
  justify-content: space-between;
}

.skills__innerbox {
  background-color: var(--color-secondary-light);
  padding: 2rem 7rem;
  border-radius: 4px;
}

.subtitle {
  font-family: var(--color-english);
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

.skills__markup__icons {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.skills__otherbox {
  background-color: var(--color-secondary-light);
  padding: 2rem 3.6rem;
}

.skills__tool__icons {
  display: grid;
  gap: 3.4rem;
  grid-template-columns: 1fr 1fr;
}

.skills__description {
  margin-top: 1.6rem;
}

.skills__description__item {
  padding-bottom: 0.4rem;
}

/* Projects */
.categories {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.category {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--font-english);
  padding: 4px 12px;
  border-radius: 4px;
  transition: all 300ms;
}

.category--selected {
  background-color: var(--color-secondary-light);
  filter: brightness(0.9);
}

.projects {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  margin-top: 3rem;
  transition: all 250ms;
}

.projects.anim-out {
  opacity: 0;
  transform: translateY(20px);
  transform: scale(0.96);
}

.project {
  width: 49%;
}

.project__data {
  font-family: var(--font-english);
  display: flex;
  align-items: center;
  margin: 8px 0px 8px 4px;
  position: relative;
}

.project__image {
  border-radius: 8px;
}

.project__title {
  margin-right: 8px;
}

.project__type {
  padding: 2px 8px;
  border-radius: 4px;
  background-color: #e3e3e3;
  letter-spacing: normal;
  color: var(--color-white);
  font-size: 0.8rem;
  font-weight: bold;
}

/* Email */
#email {
  position: relative;
  left: 0;
  top: 0;
  z-index: 11;
  display: none;
  animation: visible 0.3s alternate;
}

#email.visible {
  display: block;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.email {
  overflow: hidden;
  position: fixed;
  z-index: 12;
  left: 50%;
  bottom: 180px;
  transform: translateX(-50%);
  width: 34%;
  margin: 0 auto;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.email__container {
  padding: 1.4rem;
}

.e__icons {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.fa-solid {
  color: var(--color-secondary-dark);
  filter: brightness(0.9);
}

.fa-arrows-up-down {
  transform: rotate(45deg);
}

.e__from,
.e__title {
  border-bottom: 1px solid var(--color-secondary-dark);
}

.avatar {
  width: 4%;
  margin: 0 8px;
}

#e__from {
  width: 60%;
  padding: 4px 0;
  font-family: var(--color-english);
  font-weight: 500;
  font-size: 0.9rem;
  text-decoration: underline;
  text-underline-position: under;
}

.fa-circle-exclamation {
  color: #df0000;
  padding-left: 4px;
  display: none;
}

.fa-circle-check {
  color: #008000;
  padding-left: 4px;
  display: none;
}

#guideText {
  font-size: 0.9rem;
  font-family: var(--font-english);
  padding-left: 2px;
}

#e__title {
  width: 100%;
  height: 26px;
  font-size: 1rem;
  font-family: var(--font-english);
  font-weight: 500;
}

#contents {
  font-family: var(--font-english);
  font-family: var(--font-korean);
  font-size: 0.9rem;
  padding: 0.8rem;
}

#fileupload {
  padding: 1rem;
}

.e__functions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-secondary);
  padding: 1rem 2.4rem;
}

.e__function {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.fa-paperclip {
  transform: rotate(180deg);
}

#e__send {
  padding: 0.5rem 1.8rem;
  background-color: #0d0c22;
  border-radius: 8px;
  color: whitesmoke;
}

/* Footer */
#contact {
  background-color: var(--color-secondary-light);
  padding: 3rem;
  margin: 0;
}

.contact {
  background-color: var(--color-secondary-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__email {
  outline: 1px solid var(--color-secondary-dark);
  padding: 1rem 2rem;
  border-radius: 4px;
  margin-right: 1rem;
  cursor: pointer;
}

.contact__data {
  color: var(--color-secondary-dark);
  font-size: 0.8rem;
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }

  .mobile__menu {
    display: block;
  }

  .header__logo {
    font-size: 1.4rem;
    text-align: center;
  }

  .lineBreak {
    display: block;
  }
}
